ph-schematron-api/src/main/resources/external/schemas/svrl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
        (c) International Organization for Standardization 2005. 
        Permission to copy in any form is granted for use with conforming 
        SGML systems and applications as defined in ISO 8879, 
        provided this notice is included in all copies.
        
        XSD created from svrl.rnc for easy JAXB integration by
          Philip Helger, BRZ GmbH
  
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://purl.oclc.org/dsdl/svrl" xmlns:svrl="http://purl.oclc.org/dsdl/svrl">
  
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" />

  <!-- The root element -->
  <xs:element name="schematron-output" type="svrl:SchematronOutputType" />

  <xs:complexType name="SchematronOutputType">
    <xs:sequence>
      <!-- This is e.g. used for the SchXslt metadata element -->
      <xs:any minOccurs="0" namespace="#other" processContents="lax" />
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svrl:text"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svrl:ns-prefix-in-attribute-values"/>
      <xs:sequence maxOccurs="unbounded">
        <xs:element ref="svrl:active-pattern"/>
        <!-- [ph] added minOccurs for real life handling -->
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="svrl:fired-rule"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="svrl:failed-assert"/>
            <xs:element ref="svrl:successful-report"/>
          </xs:choice>
          <xs:element ref="svrl:suppressed-rule" minOccurs="0"/>
        </xs:sequence>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="phase" type="xs:string"/>
    <xs:attribute name="schemaVersion" type="xs:string"/>
  </xs:complexType>
  <!-- only namespaces from sch:ns need to be reported -->
  <xs:element name="ns-prefix-in-attribute-values">
    <xs:complexType>
      <xs:attribute name="prefix" type="xs:NMTOKEN" use="required"/>
      <xs:attribute name="uri" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <!-- only active patterns are reported -->
  <xs:element name="active-pattern">
    <xs:complexType>
      <!-- [ph] added for real-life handling -->
      <xs:sequence>
        <xs:element ref="svrl:text" minOccurs="0" />
      </xs:sequence>
      <!-- [ph] changed from ID to NCName for real-life handling -->
      <xs:attribute name="id" type="xs:NCName"/>
      <!-- [ph] Schematron 2016 adds this in favor of "document" -->
      <xs:attribute name="documents" type="xs:string"/>
      <xs:attribute name="document" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="role" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- only rules that are fired are reported, -->
  <xs:element name="fired-rule">
    <xs:complexType>
      <!-- [ph] changed from ID to NCName for real-life handling -->
      <xs:attribute name="id" type="xs:NCName"/>
      <!-- [ph] Schematron 2016 adds this -->
      <xs:attribute name="name" type="xs:string"/>
      <!-- [ph] Schematron 2025 adds this -->
      <xs:attribute name="document" type="xs:string"/>
      <xs:attribute name="context" type="xs:string" use="required"/>
      <xs:attribute name="role" type="xs:NMTOKEN"/>
      <xs:attribute name="flag" type="xs:NMTOKEN"/>
      <xs:attributeGroup ref="svrl:attlist.rich"/>
    </xs:complexType>
  </xs:element>
  <!-- [ph] added for SchXslt support:
       https://github.com/Schematron/schema-2016/pull/15/files
   -->
  <xs:element name="suppressed-rule">
    <xs:complexType>
      <xs:attribute name="id" type="xs:NCName"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="context" type="xs:string" use="required"/>
      <xs:attribute name="role" type="xs:NMTOKEN"/>
      <xs:attribute name="flag" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <!-- only references are reported, not the diagnostic -->
  <xs:element name="diagnostic-reference">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="svrl:text" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="diagnostic" use="required" type="xs:NMTOKEN"/>
      <xs:attributeGroup ref="svrl:attlist.rich"/>
    </xs:complexType>
  </xs:element>
  <!-- only failed assertions are reported -->
  <xs:element name="failed-assert">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="svrl:diagnostic-reference"/>
        <xs:element ref="svrl:property-reference"/>
        <xs:element ref="svrl:text"/>
        <!-- SchXslt extension -->
        <xs:element ref="svrl:message-code" minOccurs="0"/>
        <!-- SchXslt extension -->
        <xs:element ref="svrl:message-category" minOccurs="0"/>
        <!-- Note: XSLT based version may emit the diagnostic-reference here :( -->
      </xs:choice>
      <xs:attributeGroup ref="svrl:attlist.assert-and-report"/>
    </xs:complexType>
  </xs:element>
  <!-- only successful asserts are reported -->
  <xs:element name="successful-report">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="svrl:diagnostic-reference"/>
        <xs:element ref="svrl:property-reference"/>
        <xs:element ref="svrl:text"/>
        <!-- SchXslt extension -->
        <xs:element ref="svrl:message-code" minOccurs="0"/>
        <!-- SchXslt extension -->
        <xs:element ref="svrl:message-category" minOccurs="0"/>
        <!-- Note: XSLT based version may emit the diagnostic-reference here :( -->
      </xs:choice>
      <xs:attributeGroup ref="svrl:attlist.assert-and-report"/>
    </xs:complexType>
  </xs:element>
  <!-- property-reference -->
  <xs:element name="property-reference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="svrl:text"/>
      </xs:sequence>
      <xs:attribute name="property" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="role"/>
      <xs:attribute name="scheme"/>
    </xs:complexType>
  </xs:element>
  <!-- human text -->
  <xs:element name="text">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svrl:rich-text">
          <xs:attributeGroup ref="svrl:attlist.rich"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="message-code" type="xs:string" />
  <xs:element name="message-category" type="xs:string" />
  <!-- rich text -->
  <xs:complexType name="rich-text" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="svrl:foreign"/>
      <xs:element ref="svrl:dir"/>
      <xs:element ref="svrl:span"/>
      <xs:element ref="svrl:emph"/>
    </xs:choice>
  </xs:complexType>
  <!-- directionality -->
  <xs:element name="dir">
    <xs:complexType mixed="true">
      <xs:attribute name="class"/>
      <xs:attribute name="dir"/>
    </xs:complexType>
  </xs:element>
  <!-- emphasis -->
  <xs:element name="emph">
    <xs:complexType mixed="true">
      <xs:attribute name="class"/>
    </xs:complexType>
  </xs:element>
  <!-- arbitrary markup -->
  <xs:element name="span">
    <xs:complexType mixed="true">
      <xs:attribute name="class" use="required"/>
    </xs:complexType>
  </xs:element>
  <!-- foreign -->
  <xs:group name="foreign">
    <xs:sequence>
      <xs:group minOccurs="0" ref="svrl:foreign-element"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="foreign-element">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <xs:attributeGroup name="attlist.rich">
    <xs:attribute ref="xml:lang" use="optional" />
    <xs:attribute ref="xml:space" use="optional" />
    <!-- [ph] if 'allowForeignElements' is enabled the following three can occur: -->
    <xs:attribute name="see" type="xs:string" use="optional"/>
    <xs:attribute name="icon" type="xs:string" use="optional"/>
    <xs:attribute name="fpi" type="xs:string" use="optional"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="attlist.assert-and-report">
    <!-- [ph] changed from ID to NCName for real-life handling -->
    <xs:attribute name="id" type="xs:NCName"/>
    <xs:attribute name="location" use="required"/>
    <xs:attribute name="test" use="required"/>
    <xs:attribute name="role" type="xs:NMTOKEN"/>
    <xs:attribute name="flag" type="xs:NMTOKEN"/>
    <xs:attributeGroup ref="svrl:attlist.rich"/>
  </xs:attributeGroup>
</xs:schema>
