ph-schematron-pure-xpath/src/test/resources/external/issues/gc4/UBL-TR_Main_Schematron.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns="http://purl.oclc.org/dsdl/schematron" 
			xmlns:sch="http://purl.oclc.org/dsdl/schematron" 
			xmlns:sh="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader" 
			xmlns:ef="http://www.efatura.gov.tr/envelope-namespace">
	
    <sch:let name="ProfileIDType" value="',TICARIFATURA,TEMELFATURA,YOLCUBERABERFATURA,'"/>
    <sch:let name="InvoiceTypeCodeList" value="',SATIS,IADE,'"/>
    <sch:let name="EnvelopeType"  value="',SENDERENVELOPE,POSTBOXENVELOPE,SYSTEMENVELOPE,USERENVELOPE,'"/> 
    <sch:let name="ElementType" value="',INVOICE,APPLICATIONRESPONSE,PROCESSUSERACCOUNT,CANCELUSERACCOUNT,'"/>
    <sch:let name="TaxType" value="',0003,0015,0061,0071,0073,0074,0075,0076,0077,1047,1048,4080,4081,9015,9021,9077,8001,8002,8003,8004,8005,8006,8007,8008,'"/>
    <sch:let name="PartyIdentificationIDType" value="',TCKN,VKN,HIZMETNO,MUSTERINO,TESISATNO,TELEFONNO,DISTRIBUTORNO,TICARETSICILNO,TAPDKNO,BAYINO,ABONENO,SAYACNO,EPDKNO,SUBENO,PASAPORTNO,ARACIKURUMETIKET,ARACIKURUMVKN,CIFTCINO,IMALATCINO,DOSYANO,HASTANO,MERSISNO,'"/>
    <sch:let name="ResponseCodeType" value="',KABUL,RED,IADE,S_APR,'"/>
    <sch:let name="ContactTypeIdentifierType" value="',UNVAN,VKN_TCKN,'"/>
    <sch:let name="CurrencyCodeList" value="',AED,AFN,ALL,AMD,ANG,AOA,ARS,AUD,AWG,AZM,BAM,BBD,BDT,BGN,BHD,BIF,BMD,BND,BOB,BRL,BSD,BTN,BWP,BYR,BZD,CAD,CDF,CHF,CLP,CNY,COP,CRC,CUP,CVE,CYP,CZK,DJF,DKK,DOP,DZD,EEK,EGP,ERN,ETB,EUR,FJD,FKP,GBP,GEL,GHC,GIP,GMD,GNF,GTQ,GYD,HKD,HNL,HRK,HTG,HUF,IDR,ILS,INR,IQD,IRR,ISK,JMD,JOD,JPY,KES,KGS,KHR,KMF,KPW,KRW,KWD,KYD,KZT,LAK,LBP,LKR,LRD,LSL,LTL,LVL,LYD,MAD,MDL,MGF,MKD,MMK,MNT,MOP,MRO,MTL,MUR,MVR,MWK,MXN,MYR,MZM,NAD,NGN,NIO,NOK,NPR,NZD,OMR,PAB,PEN,PGK,PHP,PKR,PLN,PYG,QAR,ROL,RUB,RWF,SAR,SBD,SCR,SDD,SEK,SGD,SHP,SIT,SKK,SLL,SOS,SRG,STD,SVC,SYP,SZL,THB,TJS,TMM,TND,TOP,TRL,TTD,TWD,TZS,UAH,UGX,USD,UYU,UZS,VEB,VND,VUV,WST,XAF,XAG,XAU,XCD,XDR,XOF,XPD,XPF,XPT,YER,YUM,ZAR,ZMK,ZWD,'"/>
    <sch:let name="CountryCodeList" value="',AF,AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,IO,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,CI,HR,CU,CY,CZ,DK,DJ,DM,DO,EC,EG,SV,GQ,ER,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,VA,HN,HK,HU,IS,IN,ID,IR,IQ,IE,IM,IL,IT,JM,JP,JE,JO,KZ,KE,KI,KP,KR,KW,KG,LA,LV,LB,LS,LR,LY,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NR,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RE,RO,RU,RW,BL,SH,KN,LC,MF,PM,VC,WS,SM,ST,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,ES,LK,SD,SR,SJ,SZ,SE,CH,SY,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,UG,UA,AE,GB,US,UM,UY,UZ,VU,VE,VN,VG,VI,WF,EH,YE,ZM,ZW,'"/>
    <sch:let name="UserType" value="',1,2,11,12,'"/>
    <sch:let name="ReservedAliases" value="',usergb,GIB,archive'"/>

	<sch:include href="UBL-TR_Common_Schematron.xml#abstracts"/>	
		
	<sch:ns prefix="sh" uri="http://www.unece.org/cefact/namespaces/StandardBusinessDocumentHeader" />
	<sch:ns prefix="ef" uri="http://www.efatura.gov.tr/package-namespace" />
	<sch:ns prefix="inv" uri="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" />
	<sch:ns prefix="apr" uri="urn:oasis:names:specification:ubl:schema:xsd:ApplicationResponse-2" />
	<sch:ns prefix="cac" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" />
	<sch:ns prefix="cbc" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" />
	<sch:ns prefix="ext" uri="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" />
	<sch:ns prefix="ds" uri="http://www.w3.org/2000/09/xmldsig#" />
	<sch:ns prefix="xades" uri="http://uri.etsi.org/01903/v1.3.2#" />	
	<sch:ns prefix="hr" uri="http://www.hr-xml.org/3" />
	<sch:ns prefix="oa" uri="http://www.openapplications.org/oagis/9" />
  <sch:ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema" />
	
	<let name="envelopeType" value="/sh:StandardBusinessDocument/sh:StandardBusinessDocumentHeader/sh:DocumentIdentification/sh:Type"/>
	<let name="senderId" value="/sh:StandardBusinessDocument/sh:StandardBusinessDocumentHeader/sh:Sender/sh:ContactInformation[sh:ContactTypeIdentifier = 'VKN_TCKN']/sh:Contact"/>
	<let name="senderAlias" value="/sh:StandardBusinessDocument/sh:StandardBusinessDocumentHeader/sh:Sender/sh:Identifier"/>
	<let name="receiverId" value="/sh:StandardBusinessDocument/sh:StandardBusinessDocumentHeader/sh:Receiver/sh:ContactInformation[sh:ContactTypeIdentifier = 'VKN_TCKN']/sh:Contact"/>
	<let name="receiverAlias" value="/sh:StandardBusinessDocument/sh:StandardBusinessDocumentHeader/sh:Receiver/sh:Identifier"/>
	<let name="responseCode" value="//apr:ApplicationResponse/cac:DocumentResponse/cac:Response/cbc:ResponseCode" />
	
	<!-- StandardBusinessDocument -->
	<sch:pattern id="document">
		<sch:rule context="sh:StandardBusinessDocument">
			<sch:extends rule="DocumentCheck"/>
		</sch:rule>
	</sch:pattern>
	
	<!-- StandardBusinessDocumentHeader -->
	<sch:pattern id="header">
		<sch:rule context="sh:StandardBusinessDocumentHeader">
			<sch:extends rule="HeaderCheck"/>
		</sch:rule>
		
		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:Sender/sh:Identifier">
			<sch:extends rule="EmptyCheck"/>
		</sch:rule>
		
		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:Receiver/sh:Identifier">
			<sch:extends rule="EmptyCheck"/>
		</sch:rule>
		
		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:Sender">
			<sch:extends rule="ContactInformationCheck"/>
		</sch:rule>

		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:Receiver">
			<sch:extends rule="ContactInformationCheck"/>
		</sch:rule>

		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:Sender/sh:ContactInformation">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:Receiver/sh:ContactInformation">
			<sch:extends rule="ContactCheck"/>
		</sch:rule>

		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:DocumentIdentification">
			<sch:extends rule="TypeVersionCheck"/>
			<sch:extends rule="EnvelopeTypeCheck"/>
			<sch:extends rule="EnvelopeTypeElementTypeCheck"/>
		</sch:rule>
		
		<sch:rule context="sh:StandardBusinessDocumentHeader/sh:DocumentIdentification/sh:InstanceIdentifier">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>
	</sch:pattern>	
	
	<!-- Package -->
	<sch:pattern id="package">
		<sch:rule context="ef:Package">
			<sch:extends rule="ElementsGroupCountCheck"/>
		</sch:rule>
		<sch:rule context="ef:Package/Elements">
			<sch:extends rule="ElementTypeCheck"/>
			<sch:extends rule="ElementCountCheck"/>
			<sch:extends rule="ElementListCountCheck"/>
			<sch:extends rule="ElementNameCheck"/>
		</sch:rule>
	</sch:pattern>	
	
	<!-- Invoice -->
	<sch:pattern id="invoice">
		<sch:rule context="inv:Invoice/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/ds:Signature">
			<sch:extends rule="XadesSignatureCheckForInvoice"/>
			<!-- <sch:extends rule="SignatureIDCheck"/> -->			
		</sch:rule>
		<sch:rule context="inv:Invoice/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/ds:Signature/ds:KeyInfo/ds:X509Data">
			<sch:extends rule="X509DataCheck"/>	
		</sch:rule>
		<sch:rule context="inv:Invoice/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/ds:Signature/ds:KeyInfo/ds:X509Data/ds:X509SubjectName">
			<sch:extends rule="X509SubjectNameCheck"/>	
		</sch:rule>		
		<sch:rule context="inv:Invoice">
			<sch:extends rule="UBLVersionIDCheck"/>
			<sch:extends rule="CustomizationIDCheck"/>
			<sch:extends rule="ProfileIDCheck"/>
			<sch:extends rule="InvoiceIDCheck"/>
			<sch:extends rule="CopyIndicatorCheck"/>
			<sch:extends rule="TimeCheck"/>
			<sch:extends rule="InvoiceTypeCodeCheck"/>
			<sch:extends rule="CurrencyCodeCheck"/>
			<sch:extends rule="CountryCodeCheck"/>
			<!-- <sch:extends rule="URI2IDCheck"/> -->
			<sch:extends rule="SignatureCountCheck"/>
		</sch:rule>
		<sch:rule context="inv:Invoice/cbc:UUID">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>	
		<sch:rule context="inv:Invoice/cac:Signature">
			<sch:extends rule="SignatureCheck"/>
		</sch:rule>
		
		<sch:rule context="inv:Invoice/cac:AccountingSupplierParty/cac:Party/cac:PartyIdentification/cbc:ID">
			<sch:extends rule="PartyIdentificationSchemeIDCheck"/>
		</sch:rule>
		<sch:rule context="inv:Invoice/cac:AccountingSupplierParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationTCKNVKNCheck"/>
			<sch:extends rule="InvoiceSenderCheck"/>
		</sch:rule>		
		<sch:rule context="inv:Invoice/cac:AccountingSupplierParty/cac:Party">
			<sch:extends rule="PartyIdentificationPartyNamePersonCheck"/>
		</sch:rule>
		
		<sch:rule context="inv:Invoice/cac:AccountingCustomerParty/cac:Party/cac:PartyIdentification/cbc:ID">
			<sch:extends rule="PartyIdentificationSchemeIDCheck"/>
		</sch:rule>
		<sch:rule context="inv:Invoice/cac:AccountingCustomerParty/cac:Party/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationTCKNVKNCheck"/>
			<sch:extends rule="InvoiceReceiverCheck"/>
		</sch:rule>		
		<sch:rule context="inv:Invoice/cac:AccountingCustomerParty/cac:Party">
			<sch:extends rule="PartyIdentificationPartyNamePersonCheck"/>
		</sch:rule>
				
		<sch:rule context="inv:Invoice/cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:TaxTypeCode">
			<sch:extends rule="TaxTypeCheck"/>
		</sch:rule>
		
		<sch:rule context="inv:Invoice/cac:InvoiceLine/cac:TaxTotal/cac:TaxSubtotal/cac:TaxCategory/cac:TaxScheme/cbc:TaxTypeCode">
			<sch:extends rule="TaxTypeCheck"/>
		</sch:rule>		
		
		<sch:rule context="inv:Invoice/cac:TaxTotal/cac:TaxSubtotal">
			<sch:extends rule="TaxExemptionReasonCheck"/>
		</sch:rule>
		
		<sch:rule context="inv:Invoice/cac:InvoiceLine/cac:TaxTotal/cac:TaxSubtotal">
			<sch:extends rule="TaxExemptionReasonCheck"/>
		</sch:rule>
		
		<sch:rule context="inv:Invoice/cac:LegalMonetaryTotal/cbc:LineExtensionAmount">
			<sch:extends rule="decimalCheck"/>
		</sch:rule>
		<sch:rule context="inv:Invoice/cac:LegalMonetaryTotal/cbc:TaxExclusiveAmount">
			<sch:extends rule="decimalCheck"/>
		</sch:rule>
		<sch:rule context="inv:Invoice/cac:LegalMonetaryTotal/cbc:TaxInclusiveAmount">
			<sch:extends rule="decimalCheck"/>
		</sch:rule>
		<sch:rule context="inv:Invoice/cac:LegalMonetaryTotal/cbc:AllowanceTotalAmount">
			<sch:extends rule="decimalCheck"/>
		</sch:rule>
		<sch:rule context="inv:Invoice/cac:LegalMonetaryTotal/cbc:PayableAmount">
			<sch:extends rule="decimalCheck"/>
		</sch:rule>
		
	</sch:pattern>
	
	<!-- ApplicationResponse -->
	<sch:pattern id="applicationresponse">
		<sch:rule context="apr:ApplicationResponse/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/ds:Signature">
			<sch:extends rule="XadesSignatureCheck"/>
			<!-- <sch:extends rule="SignatureIDCheck"/> -->			
		</sch:rule>
		<sch:rule context="apr:ApplicationResponse/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/ds:Signature/ds:KeyInfo/ds:X509Data">
			<sch:extends rule="X509DataCheck"/>	
		</sch:rule>
		<sch:rule context="apr:ApplicationResponse/ext:UBLExtensions/ext:UBLExtension/ext:ExtensionContent/ds:Signature/ds:KeyInfo/ds:X509Data/ds:X509SubjectName">
			<sch:extends rule="X509SubjectNameCheck"/>	
		</sch:rule>	
		
		<sch:rule context="apr:ApplicationResponse">
			<sch:extends rule="UBLVersionIDCheck"/>
			<sch:extends rule="CustomizationIDCheck"/>
			<sch:extends rule="ApplicationResponseProfileIDCheck"/>
			<sch:extends rule="IDCheck"/>
			<sch:extends rule="CountryCodeCheck"/>
			<sch:extends rule="ARSignatureCheck"/>
			<sch:extends rule="DocumentResponseCountCheck"/>
			<!-- <sch:extends rule="URI2IDCheck"/> -->
			<sch:extends rule="SignatureCountCheck"/>
		</sch:rule>
		
		<sch:rule context="apr:ApplicationResponse/cac:Signature">
			<sch:extends rule="SignatureCheck"/>
		</sch:rule>
		
		<sch:rule context="apr:ApplicationResponse/cbc:UUID">
			<sch:extends rule="UUIDCheck"/>
		</sch:rule>

		<sch:rule context="apr:ApplicationResponse/cac:SenderParty/cac:PartyIdentification/cbc:ID">
			<sch:extends rule="PartyIdentificationSchemeIDCheck"/>
		</sch:rule>
		<sch:rule context="apr:ApplicationResponse/cac:SenderParty/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationTCKNVKNCheck"/>
			<sch:extends rule="ARSenderCheck"/>
		</sch:rule>		
		<sch:rule context="apr:ApplicationResponse/cac:SenderParty">
			<sch:extends rule="ARPartyIdentificationPartyNamePersonCheck"/>
		</sch:rule>
		
		<sch:rule context="apr:ApplicationResponse/cac:ReceiverParty/cac:PartyIdentification/cbc:ID">
			<sch:extends rule="PartyIdentificationSchemeIDCheck"/>
		</sch:rule>
		<sch:rule context="apr:ApplicationResponse/cac:ReceiverParty/cac:PartyIdentification">
			<sch:extends rule="PartyIdentificationTCKNVKNCheck"/>
			<sch:extends rule="ARReceiverCheck"/>
		</sch:rule>
		<sch:rule context="apr:ApplicationResponse/cac:ReceiverParty">
			<sch:extends rule="ARPartyIdentificationPartyNamePersonCheck"/>
		</sch:rule>
		
		<sch:rule context="apr:ApplicationResponse/cac:DocumentResponse">
			<sch:extends rule="DocumentResponseCheck"/>
		</sch:rule>
		
		<sch:rule context="apr:ApplicationResponse/cac:DocumentResponse/cac:Response">
			<sch:extends rule="ResponseCodeCheck"/>
		</sch:rule>
		
		<sch:rule context="apr:ApplicationResponse/cac:DocumentResponse/cac:LineResponse/cac:Response">
			<sch:extends rule="DescriptionCountCheck"/>
		</sch:rule>
	</sch:pattern>
	
	<!-- hr:ProcessUserAccount -->
	<sch:pattern id="processuseraccount">
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea">
			<sch:extends rule="ApplicationAreaCheck"/>
		</sch:rule>
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Sender">
			<sch:extends rule="OASenderCheck"/>
		</sch:rule>
		
		<!-- Xades Signature  -->
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature">
			<sch:extends rule="OASignatureCheck"/>
		</sch:rule>	
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature">
			<sch:extends rule="XadesSignatureCheck"/>
		</sch:rule>
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:KeyInfo/ds:X509Data">
			<sch:extends rule="X509DataCheck"/>
		</sch:rule>
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:KeyInfo/ds:X509Data/ds:X509SubjectName">
			<sch:extends rule="X509SubjectNameCheck"/>
		</sch:rule>
		
		<!-- Counter Signature -->
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature">
			<sch:extends rule="CounterSignatureCheck"/>
		</sch:rule>	
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature/ds:Signature">
			<sch:extends rule="XadesSignatureCheck"/>
		</sch:rule>
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature/ds:Signature/ds:KeyInfo/ds:X509Data">
			<sch:extends rule="X509DataCheck"/>
		</sch:rule>
		<sch:rule context="hr:ProcessUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature/ds:Signature/ds:KeyInfo/ds:X509Data/ds:X509SubjectName">
			<sch:extends rule="X509SubjectNameCheck"/>
		</sch:rule>		

		<sch:rule context="hr:ProcessUserAccount/hr:DataArea">
			<sch:extends rule="UserAccountCountCheck" />
		</sch:rule>

		<sch:rule context="hr:ProcessUserAccount/hr:DataArea/hr:UserAccount">
			<sch:extends rule="UserAccountCheck" />
		</sch:rule>
	</sch:pattern>
	
	<!-- hr:CancelUserAccount -->
	<sch:pattern id="canceluseraccount">
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea">
			<sch:extends rule="ApplicationAreaCheck"/>
		</sch:rule>
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Sender">
			<sch:extends rule="OASenderCheck"/>
		</sch:rule>
		
		<!-- Xades Signature  -->
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature">
			<sch:extends rule="OASignatureCheck"/>
		</sch:rule>	
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature">
			<sch:extends rule="XadesSignatureCheck"/>
		</sch:rule>
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:KeyInfo/ds:X509Data">
			<sch:extends rule="X509DataCheck"/>
		</sch:rule>
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:KeyInfo/ds:X509Data/ds:X509SubjectName">
			<sch:extends rule="X509SubjectNameCheck"/>
		</sch:rule>
		
		<!-- Counter Signature -->
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature">
			<sch:extends rule="CounterSignatureCheck"/>
		</sch:rule>	
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature/ds:Signature">
			<sch:extends rule="XadesSignatureCheck"/>
		</sch:rule>
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature/ds:Signature/ds:KeyInfo/ds:X509Data">
			<sch:extends rule="X509DataCheck"/>
		</sch:rule>
		<sch:rule context="hr:CancelUserAccount/oa:ApplicationArea/oa:Signature/ds:Signature/ds:Object/xades:QualifyingProperties/xades:UnsignedProperties/xades:UnsignedSignatureProperties/xades:CounterSignature/ds:Signature/ds:KeyInfo/ds:X509Data/ds:X509SubjectName">
			<sch:extends rule="X509SubjectNameCheck"/>
		</sch:rule>		

		<sch:rule context="hr:CancelUserAccount/hr:DataArea">
			<sch:extends rule="UserAccountCountCheck" />
		</sch:rule>
		
		<sch:rule context="hr:CancelUserAccount/hr:DataArea/hr:UserAccount">
			<sch:extends rule="UserAccountCheck" />
		</sch:rule>
	</sch:pattern>

</sch:schema>