ph-schematron-pure/src/test/resources/issues/20141124/chapter.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="chapter" type="chapterType"/>
  <xs:complexType name="chapterType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:byte" name="para" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
