ph-schematron-validator/src/main/resources/external/schemas/iso-schematron-2025.rnc

# Copyright © ISO/IEC 2024
# The following permission notice and disclaimer shall be included in all
# copies of this XML schema ("the Schema"), and derivations of the Schema
#
# Permission is hereby granted, free of charge in perpetuity, to any
# person obtaining a copy of the Schema, to use, copy, modify, merge and
# distribute free of charge, copies of the Schema for the purposes of
# developing, implementing, installing and using software based on the
# Schema, and to permit persons to whom the Schema is furnished to do so,
# subject to the following conditions:
#
# THE SCHEMA IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
# THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SCHEMA OR THE USE OR
# OTHER DEALINGS IN THE SCHEMA.
#
# In addition, any modified copy of the Schema shall include the following
# notice:
#
# "THIS SCHEMA HAS BEEN MODIFIED FROM THE SCHEMA DEFINED IN ISO/IEC 19757-3,
# AND SHOULD NOT BE INTERPRETED AS COMPLYING WITH THAT STANDARD".

namespace local = ""
default namespace sch = "http://purl.oclc.org/dsdl/schematron"

start = schema | library

# Element declarations
schema =
    element schema {
        attribute id { xsd:ID }?,
        rich,
        attribute schemaVersion { non-empty-string }?,
        attribute schematronEdition { non-empty-string }?,
        attribute defaultPhase { xsd:IDREF }?,
        attribute queryBinding { non-empty-string }?,
        (foreign
        & (inclusion | extends)*
        & (title?, ns*, p*, param*, let*, phase*, abstract-rules*, (rule-set|pattern)+, p*, diagnostics?, properties?))
    }
active =
    element active {
        attribute pattern { xsd:IDREF },
        (foreign & (text | dir | emph | span)*)
    }
assert =
    element assert {
        attribute test { exprValue },
        attribute flag { flagValue }?,
        attribute id { xsd:ID }?,
        attribute diagnostics { xsd:IDREFS }?,
        attribute properties { xsd:IDREFS }?,
        rich,
        linkable,
        severity,
        message
    }
diagnostic =
    element diagnostic {
        attribute id { xsd:ID },
        attribute role { roleValue }?,
        rich,
        message
    }
diagnostics = element diagnostics { foreign & inclusion* & diagnostic* }
dir =
    element dir {
        attribute value { "ltr" | "rtl" }?,
        (foreign & (text | dynamic)*)
    }
emph = element emph { (foreign & (text | dynamic)*) }
extends =
    element extends {
        (attribute rule { xsd:IDREF }
         | attribute href { uriValue }),
        foreign-empty
    }
let =
    element let {
        attribute name { nameValue },
        attribute as { text }?,
        (attribute value { string }
        | foreign-element+)
    }
library =
    element library {
        attribute id { xsd:ID }?,
        rich,
        (foreign
        & (inclusion | extends)*
        & (title?, p*, param*, let*, abstract-rules*, (rule-set|pattern)*, p*, diagnostics?, properties?))
    }
name =
    element name {
        attribute path { pathValue }?,
        foreign-empty
    }
ns =
    element ns {
        attribute uri { uriValue },
        attribute prefix { nameValue },
        foreign-empty
    }
p =
    element p {
        attribute id { xsd:ID }?,
        attribute class { classValue }?,
        attribute icon { uriValue }?,
        (foreign & (text | dir | emph | span)*)
    }
param =
    element param {
        attribute name { nameValue },
        attribute value { non-empty-string }?
    }
pattern =
    element pattern {
        rule-set-or-pattern
    }
phase =
    element phase {
        attribute id { xsd:ID },
        attribute from { pathValue }?,
        attribute when { pathValue }?,
        rich,
        (foreign & inclusion* & (p*, let*, active*))
    }
properties = element properties { property* }
property =
    element property {
        attribute id { xsd:ID },
        attribute role { roleValue }?,
        attribute scheme { text }?,
        message
    }
report =
    element report {
        attribute test { exprValue },
        attribute flag { flagValue }?,
        attribute id { xsd:ID }?,
        attribute diagnostics { xsd:IDREFS }?,
        attribute properties { xsd:IDREFS }?,
        rich,
        linkable,
        severity,
        message
    }
rule =
    element rule {
        attribute flag { flagValue }?,
        rich,
        linkable,
        (foreign
        & inclusion*
        & ((attribute context { pathValue },
            attribute visit-each { pathValue }?,
            attribute id { xsd:ID }?,
            attribute abstract { "false" }?,
            title?,
            let*,
            (assert | report | extends | p)+)))
    }
abstract-rule =
    element rule {
        attribute flag { flagValue }?,
        rich,
        linkable,
        (foreign
        & inclusion*
        & (attribute abstract { "true" },
            attribute id { xsd:ID },
            title?,
            let*,
            (assert | report | extends | p)+))
    }
abstract-rules =
    element rules {
        attribute id { xsd:ID }?,
        rich,
        title?,
        p*,
        abstract-rule+
    }
rule-set =
    element group {
        rule-set-or-pattern
    }
span =
    element span {
        attribute class { classValue },
        (foreign & (text | dynamic)*)
    }
title = element title { (text | dir)* }
value-of =
    element value-of {
        attribute select { pathValue },
        foreign-empty
    }

# common declarations
inclusion =
    element include {
        attribute href { uriValue },
        foreign-empty
    }
rich =
    attribute icon { uriValue }?,
    attribute see { uriValue }?,
    attribute fpi { fpiValue }?,
    attribute xml:lang { langValue }?,
    attribute xml:space { "preserve" | "default" }?
linkable =
    attribute role { roleValue }?,
    attribute subject { pathValue }?
foreign = foreign-attributes, foreign-element*
foreign-empty = foreign-attributes
foreign-attributes = attribute * - (local:* | xml:*) { text }*
foreign-element =
    element * - sch:* {
        (attribute * { text }
        | foreign-element
        | schema
        | text)*
    }
rule-set-or-pattern =
    attribute documents { pathValue }?,
    attribute role { roleValue }?,
    rich,
    (foreign
    & inclusion*
    & ((attribute abstract { "true" },
        attribute id { xsd:ID },
        title?,
        (p*, param*, let*, rule*))
    | (attribute abstract { "false" }?,
        attribute id { xsd:ID }?,
        title?,
        (p*, let*, rule*))
    | (attribute abstract { "false" }?,
        attribute is-a { xsd:IDREF },
        attribute id { xsd:ID }?,
        title?,
        (p*, param*))))
severity = attribute severity{ text }?
dynamic = value-of | name
message = (foreign & (text | dynamic | emph | dir | span)*)

# Data types
uriValue = xsd:anyURI
pathValue = string
exprValue = string
fpiValue = string
langValue = xsd:language
roleValue = string
flagValue = list{ token+ }
nameValue = string

# In the default query language binding, xsd:NCName
classValue = string
non-empty-string = xsd:token { minLength = "1" }
