ph-schematron-validator/src/test/resources/external/schemas/iso-schematron-2006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
         (c) International Organization for Standardization 2005. 
        Permission to copy in any form is granted for use with conforming 
        SGML systems and applications as defined in ISO 8879, 
        provided this notice is included in all copies.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- Element declarations -->
  <xs:element name="schema">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:element ref="sch:include"/>
        <xs:choice>
          <xs:element ref="sch:title"/>
          <xs:element ref="sch:ns"/>
          <xs:element ref="sch:p"/>
          <xs:element ref="sch:let"/>
          <xs:element ref="sch:phase"/>
          <xs:element ref="sch:pattern"/>
          <xs:element ref="sch:p"/>
          <xs:element ref="sch:diagnostics"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attributeGroup ref="sch:rich"/>
      <xs:attribute name="schemaVersion" type="sch:non-empty-string"/>
      <xs:attribute name="defaultPhase" type="xs:IDREF"/>
      <xs:attribute name="queryBinding" type="sch:non-empty-string"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="active">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:choice>
          <xs:element ref="sch:dir"/>
          <xs:element ref="sch:emph"/>
          <xs:element ref="sch:span"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="pattern" use="required" type="xs:IDREF"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="assert">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:choice>
          <xs:element ref="sch:name"/>
          <xs:element ref="sch:value-of"/>
          <xs:element ref="sch:emph"/>
          <xs:element ref="sch:dir"/>
          <xs:element ref="sch:span"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="test" use="required" type="sch:exprValue"/>
      <xs:attribute name="flag" type="sch:flagValue"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="diagnostics" type="xs:IDREFS"/>
      <xs:attributeGroup ref="sch:rich"/>
      <xs:attributeGroup ref="sch:linkable"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="diagnostic">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:choice>
          <xs:element ref="sch:value-of"/>
          <xs:element ref="sch:emph"/>
          <xs:element ref="sch:dir"/>
          <xs:element ref="sch:span"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attributeGroup ref="sch:rich"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="diagnostics">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:element ref="sch:include"/>
        <xs:element ref="sch:diagnostic"/>
      </xs:choice>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dir">
    <xs:complexType mixed="true">
      <xs:group ref="sch:foreign"/>
      <xs:attribute name="value">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="ltr"/>
            <xs:enumeration value="rtl"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="emph" type="xs:string"/>
  <xs:element name="extends">
    <xs:complexType>
      <xs:attribute name="rule" use="required" type="xs:IDREF"/>
      <xs:attributeGroup ref="sch:foreign-empty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="let">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="sch:nameValue"/>
      <xs:attribute name="value" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:complexType>
      <xs:attribute name="path" type="sch:pathValue"/>
      <xs:attributeGroup ref="sch:foreign-empty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ns">
    <xs:complexType>
      <xs:attribute name="uri" use="required" type="sch:uriValue"/>
      <xs:attribute name="prefix" use="required" type="sch:nameValue"/>
      <xs:attributeGroup ref="sch:foreign-empty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:choice>
          <xs:element ref="sch:dir"/>
          <xs:element ref="sch:emph"/>
          <xs:element ref="sch:span"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="class" type="sch:classValue"/>
      <xs:attribute name="icon" type="sch:uriValue"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="sch:nameValue"/>
      <xs:attribute name="value" use="required" type="sch:non-empty-string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pattern">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:element ref="sch:include"/>
        <xs:choice>
          <xs:choice>
            <xs:element ref="sch:title"/>
            <xs:choice>
              <xs:element ref="sch:p"/>
              <xs:element ref="sch:let"/>
              <xs:element ref="sch:rule"/>
            </xs:choice>
          </xs:choice>
          <xs:choice>
            <xs:element ref="sch:title"/>
            <xs:choice>
              <xs:element ref="sch:p"/>
              <xs:element ref="sch:let"/>
              <xs:element ref="sch:rule"/>
            </xs:choice>
          </xs:choice>
          <xs:choice>
            <xs:element ref="sch:title"/>
            <xs:choice>
              <xs:element ref="sch:p"/>
              <xs:element ref="sch:param"/>
            </xs:choice>
          </xs:choice>
        </xs:choice>
      </xs:choice>
      <xs:attributeGroup ref="sch:rich"/>
      <xs:attributeGroup ref="sch:foreign"/>
      <xs:attribute name="abstract">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="is-a" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="phase">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:element ref="sch:include"/>
        <xs:choice>
          <xs:element ref="sch:p"/>
          <xs:element ref="sch:let"/>
          <xs:element ref="sch:active"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="id" use="required" type="xs:ID"/>
      <xs:attributeGroup ref="sch:rich"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="report">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:choice>
          <xs:element ref="sch:name"/>
          <xs:element ref="sch:value-of"/>
          <xs:element ref="sch:emph"/>
          <xs:element ref="sch:dir"/>
          <xs:element ref="sch:span"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="test" use="required" type="sch:exprValue"/>
      <xs:attribute name="flag" type="sch:flagValue"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="diagnostics" type="xs:IDREFS"/>
      <xs:attributeGroup ref="sch:rich"/>
      <xs:attributeGroup ref="sch:linkable"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rule">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="sch:foreign"/>
        <xs:element ref="sch:include"/>
        <xs:choice>
          <xs:choice>
            <xs:element ref="sch:let"/>
            <xs:choice>
              <xs:element ref="sch:assert"/>
              <xs:element ref="sch:report"/>
              <xs:element ref="sch:extends"/>
            </xs:choice>
          </xs:choice>
          <xs:choice>
            <xs:element ref="sch:let"/>
            <xs:choice>
              <xs:element ref="sch:assert"/>
              <xs:element ref="sch:report"/>
              <xs:element ref="sch:extends"/>
            </xs:choice>
          </xs:choice>
        </xs:choice>
      </xs:choice>
      <xs:attribute name="flag" type="sch:flagValue"/>
      <xs:attributeGroup ref="sch:rich"/>
      <xs:attributeGroup ref="sch:linkable"/>
      <xs:attributeGroup ref="sch:foreign"/>
      <xs:attribute name="abstract">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="context" type="sch:pathValue"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="span">
    <xs:complexType mixed="true">
      <xs:group ref="sch:foreign"/>
      <xs:attribute name="class" use="required" type="sch:classValue"/>
      <xs:attributeGroup ref="sch:foreign"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sch:dir"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="value-of">
    <xs:complexType>
      <xs:attribute name="select" use="required" type="sch:pathValue"/>
      <xs:attributeGroup ref="sch:foreign-empty"/>
    </xs:complexType>
  </xs:element>
  <!-- common declarations -->
  <xs:element name="include">
    <xs:complexType>
      <xs:attribute name="href" use="required" type="sch:uriValue"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="rich">
    <xs:attribute name="icon" type="sch:uriValue"/>
    <xs:attribute name="see" type="sch:uriValue"/>
    <xs:attribute name="fpi" type="sch:fpiValue"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attribute ref="xml:space"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="linkable">
    <xs:attribute name="role" type="sch:roleValue"/>
    <xs:attribute name="subject" type="sch:pathValue"/>
  </xs:attributeGroup>
  <xs:group name="foreign">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="sch:foreign-element"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="foreign">
    <xs:attributeGroup ref="sch:foreign-attributes"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="foreign-empty">
    <xs:attributeGroup ref="sch:foreign-attributes"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="foreign-attributes">
    <xs:attributeGroup ref="xml:local"/>
  </xs:attributeGroup>
  <xs:group name="foreign-element">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <!-- Data types -->
  <xs:simpleType name="uriValue">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="pathValue">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="exprValue">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="fpiValue">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="langValue">
    <xs:restriction base="xs:language"/>
  </xs:simpleType>
  <xs:simpleType name="roleValue">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="flagValue">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="nameValue">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <!-- In the default query language binding, xsd:NCNAME -->
  <xs:simpleType name="classValue">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="non-empty-string">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
